<div class="flex items-center justify-center max-[640px]:w-80">
  <div class="relative flex max-[640px]:w-20 h-20 w-24 justify-end items-center flex-col px-4 py-2 icons">
    <div class="rounded-full bg-gray-200 h-8 w-8 flex items-center justify-center lineCard activeCard">
      <i class="fas fa-list-check text-white"></i>
    </div>
    <div class="font-bold text-white active">Empresa</div>
  </div>
  <div class="relative flex max-[640px]:w-20 h-20 w-24 justify-end items-center flex-col px-4 py-2 icons">
    <div id="lineIcon1" class="rounded-full bg-gray-200 h-8 w-8 flex items-center justify-center lineCard">
      <i class="fa-solid fa-map-location-dot text-white"></i>
    </div>
    <div id="iconText1" class="font-bold text-white">Endereço</div>
  </div>
  <div class="relative flex max-[640px]:w-20 h-20 w-24 justify-end items-center flex-col px-4 py-2 icons">
    <div id="lineIcon2" class="rounded-full bg-gray-200 h-8 w-8 flex items-center justify-center lineCard">
      <i class="fa-regular fa-id-badge text-white"></i>
    </div>
    <div id="iconText2" class="font-bold text-white">Contato</div>
  </div>
  <div class="relative flex max-[640px]:w-20 h-20 w-24 justify-end items-center flex-col px-4 py-2 icons">
    <div id="lineIcon3" class="rounded-full bg-gray-200 h-8 w-8 flex items-center justify-center lineCard">
      <i class="fa-solid fa-user-check text-white"></i>
    </div>
    <div id="iconText3" class="font-bold text-white">Cadastro</div>
  </div>
</div>
<div id="erros" class="rounded-lg p-4 bg-BaseGreen-500 border-2 border-rose-400 text-red-600 my-2 hidden">
  <p class="text-sm text-red-600"></p>
</div>
