<%= stylesheet_link_tag "onboarding", "data-turbo-track": "reload" %>
<script src="https://kit.fontawesome.com/0e3ef643b3.js" crossorigin="anonymous"></script>
<body class="bg-gradient-to-br from-BaseGreen-600 to-BaseGreen-200">
  <div class="container-sm flex items-center justify-center flex-col mx-auto h-screen">
    <%= render 'main' %>
    <div class="flex shadow-2xl rounded-lg">
      <div class="bg-cover bg-center max-[640px]:hidden h-bigCard w-64 opacity-70 -z-10 rounded-l-lg"
                style="background-image: url('img/step01.jpg')">
      </div>
      <div class="">
        <%= render "form", company: @company %>
      </div>
    </div>
  </div>
  <%= javascript_include_tag "onboarding", "data-turbo-track": "reload", type: "module" %>
</body>
